pipeline/PL_Lookup_Demo.json
{
	"name": "PL_Lookup_Demo",
	"properties": {
		"activities": [
			{
				"name": "ReadConfigFile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Config_Json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_ProcessFlagY",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ReadConfigFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReadConfigFile').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().ProcessFlag, 'Y')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Loop_ProcessedFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_ProcessFlagY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_ProcessFlagY').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "AppendFileNames",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ProcessedFiles",
								"value": {
									"value": "@item().FileName\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set_CurrentFile",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Loop_ProcessedFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "MessageFromChild",
							"value": {
								"type": "Expression",
								"content": "@string(variables('ProcessedFiles'))"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"CurrentFile": {
				"type": "Array"
			},
			"ProcessedFiles": {
				"type": "Array"
			},
			"ResultMessage": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-20T12:53:35Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}