pipeline/PL_Process_Landing_Files.json
{
	"name": "PL_Process_Landing_Files",
	"properties": {
		"activities": [
			{
				"name": "GetFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_File_Param",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "landing",
							"fileName": "\"\""
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('GetFiles').output.childItems), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FileNotExist",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "IsfileExist",
										"value": {
											"type": "String",
											"content": "No Files"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					]
				}
			},
			{
				"name": "ForEach_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetMeta_CurrentFile",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_File_Param",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "landing",
										"fileName": "@item().name"
									}
								},
								"fieldList": [
									"exists",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetMeta_CurrentFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('GetMeta_CurrentFile').output.size, 0)\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Append Variable skip",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "skip",
											"value": {
												"value": "@concat(item().name,' | Skipped (empty) | ', utcNow())",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_To_Processed",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": "landing",
													"wildcardFileName": "*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_File_Param",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": "landing",
													"fileName": "@item().name"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Processed_Param",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": "processed"
												}
											}
										]
									},
									{
										"name": "Delete1",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Copy_To_Processed",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DS_File_Param",
												"type": "DatasetReference",
												"parameters": {
													"folderPath": "landing",
													"fileName": "@item().name"
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Append_Log",
										"type": "AppendVariable",
										"dependsOn": [
											{
												"activity": "Delete1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "run_log",
											"value": {
												"value": "@{concat(item().name, ' | Success | ', utcNow())}\n",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Append Variable",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "GetMeta_CurrentFile",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "skip",
								"value": {
									"value": "@concat(item().name,' | Skipped (empty) | ', utcNow())",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "runStatus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": "Completed"
				}
			}
		],
		"variables": {
			"skip": {
				"type": "Array"
			},
			"run_log": {
				"type": "Array"
			},
			"status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-19T14:36:28Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}