pipeline/PL_WebActivity_Demo.json
{
	"name": "PL_WebActivity_Demo",
	"properties": {
		"activities": [
			{
				"name": "Call_TestAPI",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:11:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://jsonplaceholder.typicode.com/posts/1",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "SetVariable",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Call_TestAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PostTitle",
					"value": {
						"value": "@activity('Call_TestAPI').output.title\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"PostTitle": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-21T13:33:56Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}